@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: lightseagreen;
  color: #000;

  font-size: 16px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;

  /* font-family:'Courier New', Courier, monospace */
  /* font: normal 16px 'Roboto', sans-serif; */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

.avatar {
  margin-right: 30px;
  width: 200px;
  border-radius: 28px;
  box-shadow: 6px -2px 20px rgba(0, 0, 33, 025);
  margin-bottom: 10px;
}

.info {

  display: flex;
}

@media (max-width:600px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info>.info-text {
  border-radius: 28px;
  box-shadow: 6px -2px 20px rgba(0, 0, 33, 025);
  padding: 20px;
  margin-bottom: 10px;
}

.info p {
  color: #17011d;
  margin: 0;
  /*text-transform: uppercase;*/
  text-decoration: none;
  letter-spacing: 1px;
  word-spacing: 11px;
}

.social {
  background: red;
  padding: 15px;
  border: 5px solid rgb(102, 207, 15);
  border-bottom: 7px dotted;
  margin: 20px;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 25px;

}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.card {
  padding: 15px 20px;
  opacity: 0.55;
  margin-bottom: 10px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.list {
  padding: 0 20px;
  /*list-style: none;*/
}

.list li {
  color: blueviolet;
  margin-bottom: 7px;
  border-bottom: 1px solid black;
}

.table {
  color: #222;
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #4755ff;
}

/* .table tr:nth-child(odd) {
  background-color: red;
} */

.link-list {
  color: #111;
  list-style: none;
  padding: 0;
}

.link-list li {
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  color: grey;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #555;
  color: #000;
  padding: 15px 0 10px;
  font-family: inherit;
  outline: none;
}

/*.form-group {
  margin: auto;
  max-width: 300px;
}*/

.row {
  display: flex;
  margin-bottom: 20px;
}

.row>.form-group {
  width: 50%;
}

.row>.form-group:first-child {
  margin-right: 25px;
}

.btn {
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: inherit;
  background: #17011d;
}

.btn:hover {
  opacity: 0.7;
}




hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  content: '▂▃▅▇█▓▒░ 龴ↀ◡ↀ龴 ░▒▓█▇▅▃▂';
  padding: 0 4px;
  position: relative;
  top: -13px;
}